{% extends "telephone/main.html" %}
{% block title %}
    Liste des fabricants
{% endblock %}
{% block content %}
<div class="content">
    <div class="box">

        <h1>Liste des Fabricants</h1>
        <a href="/ajoutcategorie">Ajouter un fabricant</a>
        <ol>
            {% for l in liste %}
                <li>{{l}} <a href="/affichecategorie/{{l.id}}">Afficher</a> | <a href="/updatecategorie/{{l.id}}">Mise à jour</a> | <a href="/deletecategorie/{{l.id}}">Supprimer</a> </li>
            {% endfor %}
        </ol>

    </div>
</div>
{% endblock %}
