{% extends "telephone/main.html" %}
{% block title %}
    Mise à jour fabricant
{% endblock %}
{% block content %}
<div class="content">
    <div class="box">
    <h1>Mise à jour d'une catégorie</h1>
    {% if id != '' %}
    <form method="post" action="/updatetraitementcategorie/{{id}}/">
        {% else %}
            <form method="post" action="/traitementcategorie/">
        {% endif %}
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="Envoyer les données"/>
    </form>
    </div>
</div>
{% endblock %}
