<!DOCTYPE html>
<html lang="fr">
<head>
{% load static %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{%static 'css/main.css' %}">
    <link rel="icon" href="{%static 'favicon/favicon.ico' %}">
    <title>{% block title %}Page d'acceuil{% endblock %}</title>
</head>

<header>
    <div class="container">
      <div class="buttons home">
        <a href="/" class="btn btn-1">Home</a>
      </div>
      <div class="buttons">
        <a href="/ajoutcategorie" class="btn btn-1">Ajouter fabricant</a>
      </div>
      <div class="buttons">
        <a href="/infos" class="btn btn-1">Téléphones</a>
      </div>
      <div class="buttons">
        <a href="/infoscategorie" class="btn btn-1">Fabricants</a>
      </div>
    </div>
</header>

<body>
{% block content %}
    <div class="contentmain">
        <div class="box">
            <h1 class="title">Catalogue de SmartPhones</h1>
            <img src="{%static 'picture/main_picture.png' %}" alt="My image">
        </div>
    </div>
    {% endblock %}
</body>
</html>
